body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of the viewport height */
  background-color: hsl(323, 87%, 22%);
}

#choiceBtns {
  display: grid;
  grid-template-rows: auto auto; /* Two rows: one for the label, one for the button */
  gap: 5px; /* Space between the label and the button */
  justify-items: center; /* Center the label and button horizontally */
  text-align: center; /* Center text inside the label and button */
  margin-bottom: 3em;
}

#resetBtn {
  display: flex;
  justify-content: space-around;
  color: rgb(212, 238, 15);
  height: 100px;
}

.container button {
  font-size: 38px;
  align-self: center;
  margin: 10px 10px;
  width: 25%;
  background-color: hsla(120, 61%, 50%, 0.759);
  border-radius: 20px;
}

label {
  font-size: 28px;
  color: rgb(186, 209, 14);
  margin-bottom: 5px;
  font-weight: bold; /* Optional: Make the label bold */
}

.container button:hover {
  background-color: hsla(120, 88%, 10%, 0.759);
  cursor: pointer;
}

#result {
  color: rgb(186, 209, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 10px;
  height: 10em;
  text-align: center;
}
